## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df["APPLICATION_TYPE"].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_type_counts[application_type_counts < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_counts[classification_counts > 1]
classification_counts_gt1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts <= 1500].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)
application_df_encoded

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [ ]:
# Split our preprocessed data into our features and target arrays
# We are using "IS_SUCCESSFUL" as the target and the other columns as features
y = application_df_encoded["IS_SUCCESSFUL"].values
X = application_df_encoded.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [ ]:
X_train

array([[1, 1725423, False, ..., False, True, False],
       [1, 5000, False, ..., False, True, False],
       [1, 5000, False, ..., False, True, False],
       ...,
       [1, 5000, False, ..., False, True, False],
       [1, 5000, False, ..., False, True, False],
       [1, 126690, False, ..., False, True, False]], dtype=object)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [56]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[1])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_37 (Dense)            (None, 80)                3520

 dense_38 (Dense)            (None, 30)                2430

 dense_39 (Dense)            (None, 20)                620

 dense_40 (Dense)            (None, 1)                 21

=================================================================
Total params: 6591 (25.75 KB)
Trainable params: 6591 (25.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [57]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [58]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.8764 - accuracy: 0.7000
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6676 - accuracy: 0.7212
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6679 - accuracy: 0.7166
Epoch 4/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6112 - accuracy: 0.7244
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5807 - accuracy: 0.7260
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5905 - accuracy: 0.7278
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5756 - accuracy: 0.7290
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5824 - accuracy: 0.7279
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5818 - accuracy: 0.7242
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5695 - accuracy: 0.7282
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5711 - accuracy: 0.7304
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5811 - accuracy: 0.7135
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5630 - accuracy: 0.7310
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7310
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5623 - accuracy: 0.7323
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5687 - accuracy: 0.7278
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5572 - accuracy: 0.7320
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5602 - accuracy: 0.7311
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5665 - accuracy: 0.7266
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5614 - accuracy: 0.7300
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7331
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7317
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5709 - accuracy: 0.7335
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5714 - accuracy: 0.7134
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5574 - accuracy: 0.7317
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7353
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5518 - accuracy: 0.7351
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7339
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5619 - accuracy: 0.7250
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7329
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5648 - accuracy: 0.7289
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7357
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7324
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7341
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5540 - accuracy: 0.7352
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7347
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7355
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7335
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7269
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7356
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7337
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5574 - accuracy: 0.7355
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5540 - accuracy: 0.7332
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7351
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5577 - accuracy: 0.7319
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5585 - accuracy: 0.7349
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7356
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7366
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7354
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7338

In [59]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5837 - accuracy: 0.7242 - 668ms/epoch - 2ms/step
Loss: 0.5836559534072876, Accuracy: 0.7241982221603394

In [60]:
# Export our model to HDF5 file
# Convert model to JSON
nn_json = nn.to_json()

with open("nn.json","w") as json_file:
  json_file.write(nn_json)
nn.save_weights("AlphabetSoupCharity.h5")

In [61]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).